/* Entire Site */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
    color: #DAD7CD;
    font-family: 'Lora', serif;
    letter-spacing: .05rem;
    margin: 0px;

    background: linear-gradient(-45deg, #A3B18A, #588157, #3A5A40, #344E41, #3A5A40);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body a {
    color: #A3B18A;
}

body a:hover {
    color: #588157;
}

#page {
    margin: 16px;
}

#page_title {
    text-align: center;
}

/* Style Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #A3B18A, #588157, #3A5A40, #344E41);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(40px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #16161638;
}

#style_switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#style_label {
    margin: 2px;
    font-size: 18px;
}

#navbar li {
    list-style: none;
}

#navbar_name {
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    line-height: 26px;
    text-transform: capitalize;
}

#navbar_menu {
    display: flex;
    gap: 1em;
}

#navbar_menu a {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;

    position: relative;
    text-decoration: none;
}

#navbar_menu a:after,
#navbar_menu a:before {
    content: "";
    position: absolute;
    width: 0%;
    display: block;
    height: 2px;
    transition: all 0.3s ease;
    transition: all 300ms ease-in;
}

#navbar_menu a:after {
    left: 0;
    bottom: -5%;
}

#navbar_menu a:before {
    right: 0;
    top: -5%;
}

#navbar_menu a:hover::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -5%;
}

#navbar_menu a:hover::before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: -5%;
}

#navbar ul li a.navbar_active::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -5%;
}

#navbar ul li a.navbar_active::before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: -5%;
}

/* Home */
#home_page {
    margin: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#headshot_linkedin {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: 25%;
    float: left;
    text-align: center;
    gap: 16px;
}

#headshot_linkedin .fa {
	width: 40px;
    height: 28px;
	color: #0A66C2;
	background-color: #ffffff;
	border: 2px solid #0A66C2;
	padding-top: 12px;
	border-radius: 22px;
    text-decoration: none;
    align-self: center;
}

#headshot_linkedin .fa:hover {
	color: #ffffff;
	background-color: #0A66C2;
	border: 1px solid #0A66C2;
}

#headshot {
    border-radius: 16px;
}

#text_content {
    display: inline-flex;
    flex-direction: column;
}

#text_content h1 {
    margin-bottom: -6px;
}

.tab_over1 {
    margin-left: 25px;
    margin-bottom: -6px;
}

.tab_over2 {
    margin-left: 50px;
    margin-bottom: -6px;
}

/* Portfolio */
.portfolio_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.portfolio_text {
    display: inline-flex;
    flex-direction: column;
}

.portfolio_text h2 {
    margin-bottom: -6px;
}

.portfolio_image_div {
    width: 312px;
    float: left;
}

.portfolio_image_div img {
    border-radius: 16px;
    width: 312px;
}

.portfolio_text .fa {
	width: 40px;
    height: 28px;
	color: #000;
	background-color: #ffffff;
	border: 2px solid #000;
	padding-top: 6px;
    padding-bottom: 6px;
	border-radius: 22px;
    text-decoration: none;
    align-self: center;
    text-align: center;
    font-size: 39px;
}

.portfolio_text .fa:hover {
	color: #ffffff;
	background-color: #000;
	border: 1px solid #000;
}

/* Qualifications */
#resume_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume {
    width: 600px;
    height: 820px;
}

/* Service */
.service_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.service_image {
    width: 200px;
    float: left;
}

.service_text {
    display: inline-flex;
    flex-direction: column;
}

.service_text h2 {
    margin-bottom: -6px;
}